  <%= form_for @task do |f|  %>
    <p><%= f.label :title, "Title"%></p>
    <p><%= f.text_field :title, class: "form-control" %></p>
    <p><%= f.label :details, "Details" %></p>
    <p><%= f.text_area :details, class: "form-control" %></p>

    <% unless @task.new_record? %>
      <p>
        <%= f.check_box :completed%>
        <%= f.label :completed, "Completed" %>
      </p>
    <% end %>

    <% if @task.new_record?%>
      <p><%= f.submit "Add" ,class: "btn btn-primary"  %></p>
    <% else %>
      <p><%= f.submit "Update" ,class: "btn btn-primary"  %></p>
    <% end %>

  <% end %>
